<div>
	<form novalidate class="simple-form">
		Label: <input type="text" ng-model="legal.document" /><br />

		Document:  <input size="50" ng-model="legal.location"></input><br />
		<p></p>
		<button ng-click="saveLegal(legal)">{{saveButtonLabel}}</button>
		<button ng-click="deleteLegal()" ng-show="{{hasDeleteButton}}">DELETE</button>

		
	</form>
</div>
<p>Data Preview:</p>
<textarea style="color: yellow; background-color: black; font-family: monospace; font-size: 12px" rows="30" cols="150">
{{legal | json}}
</textarea>
