<div>
	<form novalidate>
		
		<label>Title</label>
		<input type="text" ng-model="campaign.title" /><br />
		<label>Description</label>
		<input type="text" ng-model="campaign.description" /><br />
		<p></p>
		<label>Launch:</label>
		<input type="text" ng-model="launchDate" ng-change="onLaunchDateChanged(launchDate)"/><br />
		<p></p>
		<label>End Date:</label>
		<input type="text" ng-model="drawingDate" ng-change="onDrawingDateChanged(drawingDate)" /><br />
		<p></p>
		<label>Country:</label>
		<input type="text" ng-model="country" ng-change="onCountryChanged(country)" /><br />
		<p></p>
		<label>Image:</label>
		<input type="text" ng-model="image" ng-change="onImageChanged(image)" /><br />
		<p></p>
		<label>Video:</label>
		<input type="text" ng-model="video" ng-change="onVideoChanged(video)" /><br />
		<p></p>
		<label>country:</label>
		<span ng-controller="countryController">
				     <select 
				      ng-model="selectedOption" 
				      ng-options="option.value as option.country for option in options"
				      ng-change="changeMe(selectedOption)"
				      id="Country"
				      >
				    </select>
				  </span>
		<p></p>

		<label>Image:</label>
		<select ng-model="campaign.imageId">
			<option ng-repeat="item in images" ng-selected="{{campaign.imageId == item.data.imageId}}">{{item.data.label}}
			</option>
		</select><br />
		<p></p>
		<label>Video:</label>
		<select ng-model="campaign.videoId">
			<option ng-repeat="item in videos" ng-selected="{{campaign.videoId == item.data.imageId}}">{{item.data.label}}
			</option>
		</select><br />
		<p></p>

		</div>
		<label>Active?</label>
		<input type="radio" ng-model="campaign.active" data-ng-value="true"/>true
		<input type="radio" ng-model="campaign.active" data-ng-value="false"/>false<br />
		
		<button ng-click="saveItem(campaign)">{{saveButtonLabel}}</button>
		<button ng-click="deleteItem()" ng-show="{{hasDeleteButton}}">DELETE</button>
	</form>
</div><!-- end form -->
<p>Data Preview:</p>
<textarea style="color: yellow; background-color: black; font-family: monospace; font-size: 12px" rows="30" cols="150">
{{campaign | json}}
</textarea>
