<style>
	#imageupload {
		/*display: none;*/
	}
</style>
<div>
	<form novalidate class="simple-form">
		
		Label:  <input type="text" ng-model="image.label" /><br/>
		<p></p>
		<button ng-click="saveItem(image)">{{saveButtonLabel}}</button>
		<button ng-click="deleteItem(image)" ng-show="{{hasDeleteButton}}">DELETE</button>
	</form>
</div>
<p></p>
<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/api/photo"
     method    =  "post"
>
<input type="file" name="userPhoto" />
<input type="submit" value="Upload Image" name="submit">
</form>

<div>
	<b>Current Detail image</b><br/>
<!--		<img ng-src="{{image.data}}"></img><br/><br/>  -->
</div>
<p>Data Preview:</p>
<textarea style="color: yellow; background-color: black; font-family: monospace; font-size: 12px" rows="30" cols="150">
{{image | json}}
</textarea>
