<div>
	<form novalidate class="simple-form">
		
		Country: <input type="text" ng-model="country.country" /><br />
		
		<p></p>
	<!--	<label>Image:</label> 
			<span ng-controller="imageController">
				     <select 
				      ng-model="selectedOption" 
				      ng-options="option.value as option.name for option in options"
				      ng-change="changeMe(selectedOption)"
				      id="imageSelector"
				      >
				    </select>
				  </span>
			<p></p>

		<label>Legal:</label> 
			<span ng-controller="legalController">
				     <select 
				      ng-model="selectedOption" 
				      ng-options="option.value as option.name for option in options"
				      ng-change="changeMe(selectedOption)"
				      id="legalSelector"
				      >
				    </select>
				  </span>
			<p></p> -->

		<p ng-model="country.imageId">
		<img ng-model="country.imageId" ng-src="http://sonyainc.net/images/sonya-E.jpg"></img><br/>
		</p>`
		<button ng-click="saveItem(country)">{{saveButtonLabel}}</button>
		<button ng-click="deleteCountry(country)" ng-show="{{hasDeleteButton}}">DELETE</button>
	</form>
</div>
<p>Data Preview:</p>
<textarea style="color: yellow; background-color: black; font-family: monospace; font-size: 12px" rows="30" cols="150">
{{country| json}}
</textarea>
