<div>
	<form novalidate class="simple-form">
		
		Country: <input type="text" ng-model="country" /><br />
		
		<p></p>

		<p ng-model="country.imageId">
		<img ng-model="flag" ng-src="{{flag}}"></img><br/>
		</p>`
	<!--	<button ng-click="saveItem(country)">{{saveButtonLabel}}</button>
		<button ng-click="deleteCountry(country)" ng-show="{{hasDeleteButton}}">DELETE</button> -->
	</form>
</div>
<p>Data Preview:</p>
<textarea style="color: yellow; background-color: black; font-family: monospace; font-size: 12px" rows="30" cols="150">
{{country| json}}
</textarea>
